body {
    background: #fafafa;
    color: #333333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  .searchbutton{
    margin-right: 50%;
    background-color: #333;
    padding: 20px 20px 20px 20px;
  }
  .navbarr{
    background-color: rgb(16, 15, 15);
  }
  .navtext{
    margin-left:20% ;
    color: #ffffff;
  }
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  